.principallogin {
background-color: black;
}
.tapiz {
  width: 100%;
  // height: 100vh;
  margin-top: 10px;
  margin-left: 2px;
}
.containerimg20{
  display: flex;
  align-items: center;
  justify-content: center;
  
 
 
  
}
.containerimg2 {
  display: flex;
  // align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  height: 500px;
  
  
}
.h3img {
  font-weight: bold;
  font-family: 'Stalinist One';
  margin-top: 150px;
 
}
.containerfrm2 {
  align-content: center;
  background-color: rgb(0, 0, 0);
  width: 100%;
 
}
.textcreacuenta2 {
  margin-top: 30px;
  font-family: 'Stalinist One';
  font-size: 20px;
  color: rgb(117, 114, 114);
}
.ctnbtn {
  /* text-align: center; */
  margin-bottom: 10px;
}
.formuregi {
  margin-top: 100px;
}
.btn-outline-success{
  margin-bottom: 20px;
}
.createacount{
color: green;
}

