.principalmyproducts {
  text-align: center;
margin-top:55px;
  background-color: black;
}
.textmyproducts {
  background-color: rgb(0, 0, 0);
  color: rgb(167, 161, 161);
  margin-top: 40px;
//   padding: 10px;
}
.containermyproducts {
  // background-color: #e5e7e9;
background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 10px;
}
.contcardmyproducts {
  text-align: center;
  align-items: center;
  justify-content: center;
  // background-color: #bdc3c7;
  background-color: white;
  margin-bottom: 20px;
  padding: 10px;
}
.contcardmyproducts {
  justify-content: center;
  // background-color: #bdc3c7;
  border-radius: 10px;
  padding-top: 10px;
}
.cardmyproducts {
  box-shadow: 0px 10px 10px -6px black;
  margin: 12px;
  width: 250px;
}
.imgmyproducts {
  width: 100%;
  height: 230px;
}
.btnedit {
  color: white;
  background-color: #117a65;
  font-family: 'Stalinist One';
  font-size: 8px;
}
.btnvideo{
  color: rgb(255, 255, 255);
  background-color:#D35400;
  font-family: 'Stalinist One';
  font-size: 8px;
}
.btndelete {
  color: white;
  background-color: #a93226;
  font-family: 'Stalinist One';
  font-size: 8px;
}
.nopublic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-image: url('https://image.freepik.com/vector-gratis/fondo-abstracto-luces-azules_1182-609.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    font-family: 'Stalinist One';
    font-size: 20px;
}
.textnopublic{
    color: rgb(172, 169, 169);
    font-size: 20px;
}
.containerop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.subtextmyproducts{
    color: rgb(150, 150, 150);
    font-size: 20px;
}
.welcome2{
  
  padding: 20px;
  color: rgb(153, 147, 147);
  font-family: 'Stalinist One';
  font-size: 24px;
}
.label1{
 
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 120px;
  padding: 0%;
  font-size: 9px;
  font-weight: bold;
  background-color: #D6EAF8;
  margin-left: auto;
  margin-right: auto;
}
.youcan{
  font-weight: bold;
}