.principaluploadproduct{
    text-align: center;
    border-radius: 100%;
    padding: 20px;
    border: solid 1px rgb(18, 19, 18);
    
   
}
.btn222{

}
.uploadingp{
    padding: 20px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: solid 1px rgb(243, 245, 248);
}
.btn4{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    // background: linear-gradient(to right, rgb(40, 10, 211) , rgb(6, 240, 240)); /* Standard syntax */
    // color: rgb(252, 248, 248);
    background-image: url('../../Images/galaxia2.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 10px 10px -6px black;
    color: white;
    border: solid 1px rgb(27, 64, 82);
    font-size: 8px;
    font-family: 'Stalinist One';
}
