.btntools{
    display: flex;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background-color: rgb(143, 142, 142);
    // background: linear-gradient(to right, rgb(83, 181, 247) , rgb(210, 229, 247)); /* Standard syntax */
    padding: 5px;
    // box-shadow: 0px 10px 10px -6px rgb(192, 191, 191);
}
.fa-tools{
    color: black;
// color: rgb(128, 131, 129);
}
.conf{
    width: 25px;
    height: 25px;
    
}