.logoout{
    color:green
}
.cesta{
    color: green;
}
.spancesta{
    color: rgb(27, 27, 27);
}
.navbar{
    background-color: black;
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
    margin-bottom: 40px;

}
.modal-title{
    color: white;
}
.modal-content{
    background-color: transparent;
}
.noresults{
    color:rgb(8, 8, 8);
    font-family: 'Stalinist One';
}
.chico{
    width: 20px;
    height: 20px;
}
.dont1{
 font-family: 'Stalinist One';
  font-size: 20px;
  color: white;
}
.modal{
    width: 100%;
}
.custom-select{
    background-color: black;
    border: black;
    
}