.principalstart{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: solid 2px white;
    background-image: url('../../Images/start1.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 10px 10px -6px black;
    color: rgb(223, 219, 219);
    border: solid 1px rgb(27, 64, 82);
    box-shadow: 0px 10px 10px -6px rgb(78, 76, 76);
}
.divstart{
    
}
.textstart{
    font-family:sans-serif;
    font-size: 10px;
    font-weight: bold;
}