.btnregisterinit{
    display: flex;
    // text-align: center;
     font-size: 20px;
     justify-content: center;
     align-items: center;
     width: 50px;
     height: 50px;
     border-radius: 100%;
    //  background: linear-gradient(to right, rgb(83, 181, 247) , rgb(210, 229, 247));
     background-color: rgb(143, 142, 142);
     color: rgb(252, 248, 248);
     padding: 5px;
    //  box-shadow: 0px 10px 10px -6px rgb(192, 191, 191);
     
    
}
.spanbtnregisterInit{
    padding: 5px;
}
.fa-registered{
    // color: rgb(128, 131, 129);
    color: black;
}