.principaleditproduct {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    position:relative;
    margin-top:55px;
    width: 100%;
  
  }
  .imguploadproduct {
    width: 100%;
    // height: 150vh;
    margin-top: 20px;
  }
  .pedit{
      padding: 0px;
      color:black;
      background-color: white;
      margin-top: 0px;
  }
  .inputs4 {
    margin-top: 3px;
    color: rgb(138, 135, 135);
  }
  .tapiz5 {
      text-align: center;
      align-items: center;
      justify-content: center;
    background-color: rgb(8, 8, 8);
    width: 100%;
    // height: 100vh;
    margin-left: 2px;
  }
  .card7{
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .containerimg05 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 8, 8);
    // padding: 10px;
    // height: 80vh;
  }
  
  .containerfrm5 {
    /* align-content: center; */
    // background-color: rgb(243, 245, 243);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    // height: 100vh;
  }
  .textcreacuenta5 {
    margin-top: 30px;
    color: rgb(90, 92, 90);
    font-family: 'Stalinist One';
  }
  .ctnbtn3 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .interforimage5 {
      margin-top: 20px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
  }
  .iconoc {
    font-size: 200px;
    // color: linear-gradient(to right, rgb(40, 10, 211), rgb(6, 240, 240));
  
    // background: -webkit-linear-gradient(
    //   left top,
    //   rgb(0, 110, 255),
    //   rgb(101, 138, 136)
    // );
    // background: linear-gradient(
    //   to bottom right,
    //   rgb(6, 245, 245),
    //   rgb(235, 245, 244)
    // );
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // padding: 10px;
    // box-shadow: 10px 10px 10px -1px rgb(105, 102, 102);
  }
  .form-control {
    background-color: black;
  }
  .btnup {
    margin-top: 20px;
  }
  .loadload{
      position: absolute;
      margin-top: 100px;
      background-color: rebeccapurple;
  }