
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Stalinist+One&display=swap');
@import url('https://fonts.googleapis.com/css2? family = Stalinist + One & display = swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Great+Vibes&family=Stalinist+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Great+Vibes&family=Roboto&family=Stalinist+One&display=swap');
.principal{
   padding: 20px;
   display: flex;
   flex-direction: column;
   text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
}
.buttonstart{
    margin-top: 40px;
}
.titlehome1{
    
    padding: 10px;
   
    background-color: rgb(0, 0, 0);
}
.principalhome{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 5, 5);
     height: 90vh;
     width: 80%;
     box-shadow: 10px 10px 10px -1px rgb(172, 170, 170);
    border-radius: 10px;
    margin-top: 30px;
    // margin-top: 20px;
    
    
}

.nameinchome{
    font-weight: bold;
    font-size: 10px;
    color: rgb(160, 156, 156);
}
.containeroptios2{
   
    display: flex;
    //  justify-content: center;
    // align-items: center;
    background-color: rgb(0, 0, 0);
    // height: 200px;
    // width:100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.h4home{
    color: rgb(233, 231, 231);
    font-family: 'Stalinist One';
    font-size: 15px;
}


.ti {
    margin-top: 30ps;
  display: inline-block;
  text-shadow: 0 0 0 whitesmoke;
  animation: smoky 5s 3s both;
  font-weight: bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
   
    font-family: 'Stalinist One';
}

span:nth-child(even){
  animation-name: smoky-mirror;
}

@keyframes smoky {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    transform:
      translate3d(15rem,-8rem,0)
      rotate(-40deg)
      skewX(70deg)
      scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@keyframes smoky-mirror {
  60% {
    text-shadow: 0 0 40px whitesmoke; }
  to {
    transform:
      translate3d(18rem,-8rem,0)
      rotate(-40deg) 
      skewX(-70deg)
      scale(2);
     text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@for $item from 1 through 21 {
  span:nth-of-type(#{$item}){ 
    animation-delay: #{(2 + ($item/10))}s; 
  }
} 

.inicio{
  font-size: 80px;
  color: hsla(0, 0%, 0%, .9);
   height: 3px;
  text-align: center;
  text-transform: uppercase;
  animation: move linear 4000ms infinite;  
}
@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 rgba(22, 4, 80, 0.904), 
      3px -3px 0 rgb(255, 251, 0), 
      2px -2px 0 rgb(250, 247, 247), 
      1px -1px 0 rgb(0, 255, 136),
      -4px 4px 0 rgb(255, 255, 255), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  25% {    
    text-shadow:      
    -4px 4px 0 rgb(255, 255, 255), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    4px -4px 0 rgba(22, 4, 80, 0.904), 
    3px -3px 0 rgb(255, 81, 0), 
    2px -2px 0 rgb(250, 250, 247), 
    1px -1px 0 rgb(255, 72, 0),   
    ;
  }
  50% {
    text-shadow:
    4px -4px 0 rgba(22, 4, 80, 0.904), 
    3px -3px 0 rgb(255, 81, 0), 
    2px -2px 0 rgb(250, 250, 247), 
    1px -1px 0 rgb(255, 72, 0),
    -4px 4px 0 rgb(255, 255, 255), 
    -3px 3px 0 hsla(180, 100%, 50%, 1), 
    -2px 2px 0 hsla(180, 100%, 50%, 1), 
    -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  75% {
    text-shadow:
   
    -4px 4px 0 rgb(255, 255, 255), 
    -3px 3px 0 hsla(180, 100%, 50%, 1), 
    -2px 2px 0 hsla(180, 100%, 50%, 1), 
    -1px 1px 0 hsla(180, 100%, 50%, 1)
      4px -4px 0 rgba(22, 4, 80, 0.904), 
      3px -3px 0 rgb(255, 81, 0), 
      2px -2px 0 rgb(250, 250, 247), 
      1px -1px 0 rgb(255, 72, 0),
    ;
  }
  100% {
    text-shadow:
    4px -4px 0 rgba(22, 4, 80, 0.904), 
    3px -3px 0 rgb(255, 81, 0), 
    2px -2px 0 rgb(250, 250, 247), 
    1px -1px 0 rgb(255, 72, 0),
    -4px 4px 0 rgb(255, 255, 255), 
    -3px 3px 0 hsla(180, 100%, 50%, 1), 
    -2px 2px 0 hsla(180, 100%, 50%, 1), 
    -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }  
}



.sonido{
  color: white;
}

//// Make long shadows
/// @param {Number} $num [1] - number of shadows to make
/// @param {Color} $color [white] - color of shadows
@function longshadow($num,$color: white){
  $shadow: '';
  $i: 0;
  @for $i from 1 through $num{
    $shadow: $shadow + (1 * $i) + 'px' + ' ' + (1 * ($i * 1)) + 'px' + ' ' + $color;
    @if $i < $num{
      $shadow: $shadow + ', ';
    }
  }
  @return unquote($shadow);
}
