.principalformproduct {
  background-color: rgb(8, 8, 8);
  height: 100vh;
  margin-top: 55px;
}
.imguploadproduct {
  width: 100%;
  // height: 150vh;
  margin-top: 20px;
}
.inputs {
  margin-top: 3px;
}
.tapiz3 {
  background-color: rgb(8, 8, 8);
  width: 100%;
  // height: 100vh;
  margin-left: 2px;
}
.containerimg03 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(8, 8, 8);
  // padding: 10px;
  // height: 80vh;
}
// .containerimg3 {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border-radius: 10px;
//   background-color: transparent;
//   //  background-image: url("../../Images/asus.jpg");
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   text-align: center;
//   // height: 100vh;
//   width: 100%;
//   opacity: 90%;
// }

.containerfrm3 {
  /* align-content: center; */
  // background-color: rgb(243, 245, 243);
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  // height: 100vh;
}
.textcreacuenta3 {
  margin-top: 30px;
  color: rgb(90, 92, 90);
  font-family: 'Stalinist One';
}
.ctnbtn3 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.interforimage {
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}
.iconoc {
  font-size: 200px;
  // color: linear-gradient(to right, rgb(40, 10, 211), rgb(6, 240, 240));

  // background: -webkit-linear-gradient(
  //   left top,
  //   rgb(0, 110, 255),
  //   rgb(101, 138, 136)
  // );
  // background: linear-gradient(
  //   to bottom right,
  //   rgb(6, 245, 245),
  //   rgb(235, 245, 244)
  // );
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  // padding: 10px;
  // box-shadow: 10px 10px 10px -1px rgb(105, 102, 102);
}
.form-control {
  background-color: black;
}
.btnup {
  margin-top: 20px;
}












.iconoc {
  color: hsla(0, 0%, 0%, .9);
  // font: normal 140px Varela Round, sans-serif;
  // height: 140px;
  // left: 0;
  // letter-spacing: 5px;
  // margin: -80px 0 0 0;
  // position: absolute;
  text-align: center;
  text-transform: uppercase;
  // top: 50%;
  // width: 100%;
  animation: move linear 3000ms infinite;  
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 rgba(22, 4, 80, 0.904), 
      3px -3px 0 rgb(255, 251, 0), 
      2px -2px 0 rgb(250, 247, 247), 
      1px -1px 0 rgb(0, 255, 136),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0 hsla(180, 100%, 50%, 1), 
      -3px -3px 0 hsla(180, 100%, 50%, 1), 
      -2px -2px 0 hsla(180, 100%, 50%, 1), 
      -1px -1px 0 hsla(180, 100%, 50%, 1),
      4px -4px 0 rgba(22, 4, 80, 0.904), 
      3px -3px 0 rgb(255, 251, 0), 
      2px -2px 0 rgb(250, 247, 247), 
      1px -1px 0 rgb(0, 255, 136)     
    ;
  }
  50% {
    text-shadow:
    4px -4px 0 rgba(22, 4, 80, 0.904), 
    3px -3px 0 rgb(255, 251, 0), 
    2px -2px 0 rgb(250, 247, 247), 
    1px -1px 0 rgb(0, 255, 136),
      4px -4px 0 hsla(180, 100%, 50%, 1), 
      3px -3px 0 hsla(180, 100%, 50%, 1), 
      2px -2px 0 hsla(180, 100%, 50%, 1), 
      1px -1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(180, 100%, 50%, 1), 
      3px 3px 0 hsla(180, 100%, 50%, 1), 
      2px 2px 0 hsla(180, 100%, 50%, 1), 
      1px 1px 0 hsla(180, 100%, 50%, 1),
      4px -4px 0 rgba(22, 4, 80, 0.904), 
      3px -3px 0 rgb(255, 251, 0), 
      2px -2px 0 rgb(250, 247, 247), 
      1px -1px 0 rgb(0, 255, 136),    
    ;
  }
  100% {
    text-shadow:
    4px -4px 0 rgba(22, 4, 80, 0.904), 
    3px -3px 0 rgb(255, 251, 0), 
    2px -2px 0 rgb(250, 247, 247), 
    1px -1px 0 rgb(0, 255, 136),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }  
}