
.principalcategories{
   
   
   text-align: center;
   width: 100%;
   height: 100%;
}
.categories{
    margin-top: 30px;
   
}
.contentitems{
   margin-left: auto;
   margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 30px;
    background-color: rgb(243, 245, 243); 
    border-radius: 10px;
    /* border: solid 1px mediumturquoise; */
}
.iconcategorie{
    text-align: center;
    /* border: solid 1px green; */
    padding: 10px;
    font-size: 20px;
    color: green;
   
}
.linkcategories{
    text-decoration: none;
}
