.principaldelete {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 20px;
}
.deleteproduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90vh;
  background: #06beb6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #48b1bf,
    #06beb6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #48b1bf,
    #06beb6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.cardscontainerdelete {
  width: 60vh;
}
.cardp3 {
  box-shadow: 0px 10px 10px -6px black;
  margin: 12px;
  width: 250px;
  border-radius:5px ;
}
.textdelete {
  color: rgb(255, 255, 255);
  font-family: 'Stalinist One';
}
.modal {
  text-align: center;
}
.btngo {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  padding: 5px;
  background-image: url('../../Images/galaxia2.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 10px 10px -6px black;
  color: white;
  border: solid 1px rgb(27, 64, 82);
}
.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
}
