.principalhomelogued {
  
  // background-image: url('../../Images/fondo7homelogued.jpg');
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  // height: 95vh;
  width: 100%;
  margin-top: 55px;
  /* position: relative; */
}
.linkhomelogued {
  margin-top: 30px;
}
.textoprincipal {
  color: rgb(255, 255, 255);
  font-family: 'Stalinist One';
  font-size: 15px;
}
.welcome {
  margin-top: 40px;
  margin-bottom: 40px;
  color: rgb(153, 147, 147);
  font-family: 'Stalinist One';
  font-size: 24px;
  padding: 40px;
}
.textnews{
  font-family: 'Stalinist One';
  font-size: 20px;
  color: black;
}
.dont{
  font-family: 'Stalinist One';
  font-size: 20px;
  color: black;
}
.separator {
  padding: 20px;
  height: 150px;
  background-color: rgb(255, 255, 255);
  
}
// contenedor de productos ////////////////////////////////////////////////////
.cardscontainer {
  padding: 10px;
  display: flex;
  justify-content: center;
//   margin-left: auto;
//   margin-right: auto;
  // background-color: rgb(241, 239, 239);
  background-color: rgb(228, 226, 226);
}
/////////////////////////////////////////////////////////////////////////////////
.cardp2 {
  box-shadow: 0px 10px 10px -6px black;
  margin: 8px;
  width: 265px;
  border-radius: 5px;
}
.imgcard2 {
  width: 100%;
  height: 230px;
}

.list-group-item1 {
  list-style: none;
  padding: 5px;
  font-weight: bold;
  background-color: black;
  color: rgb(202, 197, 197);
}
.rowcardscontainer {
   justify-content: center;
  // background-color: #bdc3c7;
  background-color: white;
  border-radius: 10px;
  // padding-top: 10px;
  padding: 0;
}

.pricecard2 {
  font-weight: bold;
}
.carousel {
  margin-top: 30px;
  margin-bottom: 50px;
}
.imgcarrusel {
  width: 350px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.videocarrusel{
  width: 350px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.containerofop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  margin-top: 50px;
  margin-bottom: 30px;
  height: 200px;
  border-radius: 70px;
}


$key: #55A4E9;

.animation{
  display: flex;
  height: 50%;
  background-color: black;
}
.word{
  margin: auto;
  color:linear-gradient(to right, rgb(40, 10, 211), rgb(6, 240, 240));
   font:  normal 2em/1.5 'Stalinist One',sans-serif;
  text-shadow: longshadow(10,darken($key,10%));
}


.hr {
  
  color: hsla(0, 0%, 0%, .9);
  // font: normal 140px Varela Round, sans-serif;
   height: 3px;
  // left: 0;
  // letter-spacing: 5px;
  // margin: -80px 0 0 0;
  // position: absolute;
  text-align: center;
  text-transform: uppercase;
  // top: 50%;
  // width: 100%;
  animation: move linear 4000ms infinite;  
}

@keyframes move {
  0% {
    text-shadow:
    3px -3px 0 rgba(22, 4, 80, 0.904), 
    2px -2px 0 rgb(255, 251, 0), 
    2px -2px 0 rgb(250, 247, 247), 
    1px -1px 0 rgb(0, 255, 136),
      -3px -4px 0 hsla(180, 100%, 50%, 1), 
      -2px -3px 0 hsla(180, 100%, 50%, 1), 
      -1px -2px 0 hsla(180, 100%, 50%, 1), 
      -1px -1px 0 hsla(180, 100%, 50%, 1),
    ;
  }
  25% {    
    text-shadow:      
      -3px -4px 0 hsla(180, 100%, 50%, 1), 
      -2px -3px 0 hsla(180, 100%, 50%, 1), 
      -1px -2px 0 hsla(180, 100%, 50%, 1), 
      -1px -1px 0 hsla(180, 100%, 50%, 1),
      3px -3px 0 rgba(22, 4, 80, 0.904), 
      2px -2px 0 rgb(255, 251, 0), 
      2px -2px 0 rgb(250, 247, 247), 
      1px -1px 0 rgb(0, 255, 136),    
    ;
  }
  50% {
    text-shadow:
    3px -3px 0 rgba(22, 4, 80, 0.904), 
    2px -2px 0 rgb(255, 251, 0), 
    2px -2px 0 rgb(250, 247, 247), 
    1px -1px 0 rgb(0, 255, 136),
    -3px -4px 0 hsla(180, 100%, 50%, 1), 
    -2px -3px 0 hsla(180, 100%, 50%, 1), 
    -1px -2px 0 hsla(180, 100%, 50%, 1), 
    -1px -1px 0 hsla(180, 100%, 50%, 1),
    ;
  }
  75% {
    text-shadow:
    -3px -4px 0 hsla(180, 100%, 50%, 1), 
    -2px -3px 0 hsla(180, 100%, 50%, 1), 
    -1px -2px 0 hsla(180, 100%, 50%, 1), 
    -1px -1px 0 hsla(180, 100%, 50%, 1),
    3px -3px 0 rgba(22, 4, 80, 0.904), 
    2px -2px 0 rgb(255, 251, 0), 
    2px -2px 0 rgb(250, 247, 247), 
    1px -1px 0 rgb(0, 255, 136),   
    ;
  }
  100% {
    text-shadow:
    3px -3px 0 rgba(22, 4, 80, 0.904), 
    2px -2px 0 rgb(255, 251, 0), 
    2px -2px 0 rgb(250, 247, 247), 
    1px -1px 0 rgb(0, 255, 136),
    -3px -4px 0 hsla(180, 100%, 50%, 1), 
    -2px -3px 0 hsla(180, 100%, 50%, 1), 
    -1px -2px 0 hsla(180, 100%, 50%, 1), 
    -1px -1px 0 hsla(180, 100%, 50%, 1),
    ;
  }  
}
.fa-video{
  font-size: 30px;
  color:#D35400;
}