.principalproductdetail{
    
    // background-color:  rgb(202, 197, 197);
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 55px;
    padding-top: 20px;
}
.containerdetail{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    padding: 10px;
     background-color: #BDC3C7;
     
    // background-color: black;
     
}
.rowdetailproduct{
    padding: 30px;
    background-color: #ffffff;
    // height: 100vh;
}
.imagedetail{
    // height: 50vh;
}
.textdetail{
    // height: 50vh;
}
.contimgdetail{
   display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    // border: solid 2px red; 
    width: 100%;
    height: 300px;
    
}
.imgdetail{
    width: 300px;
    height: 250px;
}
.detailproduct2{
    /* border:solid 2px green; */
    border-left: solid 4px rgb(218, 222, 223);
    padding: 25px;
    border-radius: 5px;
}
.wapp{
    color: rgb(72, 230, 10);
    font-size: 20px;
}
.final{
    width: 100%;
    height: 20px;
    background-color: black;
}

  