.container {
  text-align: center;
}
.menucircular {
    margin-top: 60px;
  height: 200px;
  display: flex;

  background-color: transparent;
  padding-left: 5%;
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // padding-left: 41%;
  // height: 200px;
}
