.principalregister{
 background-color: black;
}
.tapiz {
  width: 100%;
   height: 100vh;
  margin-top: 10px;
  margin-left: 20px;
}
.containerimg04{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  
 
}
.containerimg4 {
  display: flex;
  justify-content: center;
  width: 380px;
  height: 300px;
}

.h3img4 {
  font-weight: bold;
  font-family: 'Stalinist One';
  margin-top: 100px;

}
.containerfrm {
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(0, 0, 0);
 
}
.textcreacuenta {
  margin-top: 30px;
  color: rgb(90, 92, 90);
  font-family: 'Stalinist One';
  font-size: 20px;
  color: rgb(117, 114, 114);
}
.ctnbtn {
  /* text-align: center; */
  margin-bottom: 10px;
}
.formuregi {
  margin-top: 100px;
}
