.btnelectronics {
  color: rgb(1, 32, 14);
  font-size: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  // background: linear-gradient(to right, rgb(83, 181, 247) , rgb(210, 229, 247)); /* Standard syntax */
  background-color: rgb(143, 142, 142);
  padding: 5px;
  // box-shadow: 0px 10px 10px -6px rgb(192, 191, 191);
}
.spanbtncompu {
  padding: 5px;
}
.fa-atom {
  // color: rgb(128, 131, 129);
  color: black;
}
.electron{
  width: 25px;
  height: 25px;
}
