@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Great+Vibes&family=Roboto&family=Stalinist+One&display=swap');
body {
  background-color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,'sans-serif' 'Courier New',
    monospace;
}
