.principalnav{
   
}
.nameinc{
    
    color: rgb(243, 247, 243);
    font-family: 'Stalinist One';
    font-size: 15px;
}
.linknav{
    text-decoration: none;
    color: black;
    
}

.linknava{
    text-decoration: none;
    color: black;
    
}
.linknavb{
   text-decoration: none;
    color: black;
    
}
.logooutr2{
    color: brown;
}
.navbar{
    background-color: black;
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
    margin-bottom: 40px;
}